@model IEnumerable<giveandgetwebapp.Models.Post>

@{
    ViewBag.Title = "Index";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Post List</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" >
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.Contents)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.ExpireDate)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.GiveType)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.ReceiverCount)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.ExpireType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Catalog.Name)
                        </th>
                        <th class="sorting">
                            @Html.DisplayNameFor(model => model.User.StudentId)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr role="row" class="odd">
                            <td class="sorting_1">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Contents)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpireDate)
                            </td>
                            <td >
                                @if (item.GiveType == 1)
                                {
                                    <p>Tự chọn</p>
                                }
                                @if (item.GiveType == 2)
                                {
                                    <p>Ngẫu nhiên</p>
                                }
                            </td>
                            <td >
                                @if (item.Status == 1)
                                {
                                    <p>Bài viết được tạo thành công</p>
                                }
                                @if (item.Status == 2)
                                {
                                    <p>Bài viết hết hạn</p>
                                }
                                @if (item.Status == 3)
                                {
                                    <p>Bài viết chờ đánh giá</p>
                                }
                                @if (item.Status == 4)
                                {
                                    <p>Bài viết đã đóng</p>
                                }
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.ReceiverCount)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.ExpireType) Days
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Catalog.Name)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.User.StudentId)
                            </td>
                            <td >
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Scripts/scripts/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="~/Scripts/datatables-demo.js"></script>
